.btn {
  transition: 150ms;
  padding: 10px 15px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: slategray;
}

.primary {
  background-color: slateblue;
  color: snow;
}

.primary:hover {
  background-color: royalblue;
}

.secondary {
  background-color: violet;
  color: linen;
}

.secondary:hover {
  background-color: darkorchid;
}

.danger {
  background-color: crimson;
  color: snow;
}

.danger:hover {
  background-color: salmon;
}
