.toolbar {
  background-color: slateblue;
  box-shadow: 0 2px 4px -2px slategray;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.brandLogo,
.toolbarLink,
.hamburgerBtn {
  color: snow;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 30px;
  transition: 150ms;
  display: flex;
  align-items: center;
}

.brandLogo:hover,
.toolbarLink:hover,
.hamburgerBtn:hover {
  background-color: royalblue;
}

.brandLogo {
  font-size: 21px;
}

.hamburgerBtn {
  display: none;
  position: relative;
}

.hamburgerMenu {
  position: absolute;
  top: 100%;
  list-style-type: none;
  width: 100%;
  background-color: snow;
  box-shadow: 0 2px 4px -2px slategray;
  display: none;
}

.bar {
  display: block;
  background-color: snow;
  height: 3px;
  border-radius: 4px;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.bar:first-child {
  transform: translateY(calc(-50% - 10px));
}

.bar:last-child {
  transform: translateY(calc(-50% + 10px));
}

.toolbarList {
  list-style-type: none;
  display: flex;
}

.toolbarItem {
  display: flex;
}

@media screen and (max-width: 750px) {
  .toolbarList {
    display: none;
  }

  .hamburgerBtn {
    display: block;
  }

  .toolbarLink {
    display: block;
    width: 100%;
    color: slateblue;
  }

  .toolbarLink:hover {
    background-color: royalblue;
    color: snow;
  }

  .hamburgerMenu {
    display: block;
  }
}
