@import "../../assets/styles/variables.scss";

.carousel {
  height: 450px;
  background-color: $gray;
  position: relative;

  & .carouselImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.prevWrapper,
.nextWrapper {
  position: absolute;
  width: 150px;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prevWrapper {
  left: 0;
}
.nextWrapper {
  right: 0;
}
.prevBtn,
.nextBtn {
  padding: $md-space $xl-space;
  border-radius: $radius;
  border: none;
  cursor: pointer;
  transition: $transition;

  &:hover {
    background-color: $light;
  }
}
