.formWrapper {
  width: 440px;
  margin: auto;
}

.todosWrapper {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  margin: 40px 0;
}

.card {
  border-radius: 4px;
  border: 1px solid slategray;
  box-shadow: 0 2px 4px -2px slategray;
  padding: 20px;
}

.cardTitle {
  font-weight: normal;
  font-size: 21px;
}

.cardActions {
  margin-top: 15px;
}

.cardMessage {
  font-size: 18px;
  margin-top: 10px;
}

.success {
  color: green;
}

.error {
  color: crimson;
}
