@import "../../assets/styles/variables.scss";

.formWrapper {
  width: 440px;
  margin: auto;
}

.todosWrapper {
  display: grid;
  grid-gap: $md-space;
  grid-template-columns: repeat(4, 1fr);
  margin: 40px 0;
}

.card {
  border-radius: $radius;
  border: 1px solid $gray;
  box-shadow: 0 2px 4px -2px $gray;
  padding: $lg-space;
}

.cardTitle {
  font-weight: normal;
  font-size: 21px;
}

.cardActions {
  margin-top: $md-space;
}

.cardMessage {
  font-size: 18px;
  margin-top: $sm-space;
}

.success {
  color: $success;
}

.error {
  color: $danger;
}
