$containerWidth: 1200px;

// SPACING
$xs-space: 5px;
$sm-space: 10px;
$md-space: 15px;
$lg-space: 20px;
$xl-space: 25px;

// UTILS
$transition: 150ms;
$radius: 2px;

// COLORS
$gray: slategray;
$white: snow;
$light: linen;
$primary: slateblue;
$secondary: salmon;
$danger: crimson;
$success: green;
